@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Variables */
:root {
    --bg-primary: #f3f4f6;
    --bg-secondary: #ffffff;
    --bg-tertiary: #ebe9d8;
    --border-primary: #e5e7eb;
    --border-secondary: #264653;
    --text-primary: #0f172a;
    --text-secondary: #6b7280;
    --text-tertiary: #9ca3af;
    --primary-color: #023047;
    --secondary-color: #219ebc;
    --tertiary-color: #8ecae6;
    --warning-color: #fb8500;
    --error-color: #c1121f;
    --success-color: #4c956c;
    --primary-color-transparent: #02304762;
    --secondary-color-transparent: #219dbc3b;
}

.dark {
    --bg-primary: #212121;
    --bg-secondary: #171717;
    --bg-tertiary: #212121;
    --text-primary: #ffffff;
    --text-secondary: #ffffff;
    --border-primary: #303234;
    --border-secondary: #ffffff;
}

html {
    transition: background-color 0.5s, color 0.5s;
}

body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

/* total width */
::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 8px;
    border: 4px solid transparent;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
    display:none;
}
